html,
body {
  background-color: #000;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden !important;
  background-color: #87cefa;
}
canvas {
  position: absolute;
  z-index: 1;
}

#container {
  width: 100%;
  margin: auto;
  margin-top: 20px;
  border-radius: 40px;
  position: absolute;
  z-index: 2;
  visibility: hidden;
  text-align: center;
}

.gameover {
  width: 100%;
  height: auto;
  padding-top: 60px;
  background: none;
}

.gameover p {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 160px;
  font-family: "Black Ops One", cursive;
  line-height: 120px;
  text-align: center;
  text-shadow: 5px 5px #000000;
  color: #ffffff;
}
